.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.headBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.titleBox {
  z-index: 100;
  width: 100%;
  position: absolute;

  left: 50%;
  /* top: -45px; */
  transform: translateX(-25%);
  top: -50px;

  display: flex;
}
.title {
  color: #ffd600;
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 300;
  font-size: 28px;
  line-height: 30px;

  align-items: center;
  justify-content: center;
  text-align: center;
}
.imageBox {
  position: relative;
}
.image {
  width: 100%;
}

.cardBox {
  position: relative;
}
.card {
  position: relative;

  border: 0.1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.card:before {
  content: '';
  position: absolute;
  top: -20px; /* ustawianie pozycji */
  left: -20px; /* ustawianie pozycji */
  right: -20px; /* ustawianie pozycji */
  bottom: -20px; /* ustawianie pozycji */
  z-index: -1; /* ustaw z-index na -1, aby pozostał pod kartą */
  background: radial-gradient(
    circle,
    rgb(0, 0, 0) 100%,
    rgba(83, 83, 83, 0) 100%
  ); /* dodaj gradient */
  filter: blur(20px); /* dodaj rozmycie */
  opacity: 1; /* ukryj połyskiwanie */
  transition: opacity 0.3s ease-in-out; /* dodaj efekt przejścia */

  transition: background-color 250ms ease-in-out;
  overflow: hidden;
}

.name {
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 300;
  font-size: 36px;
  line-height: 38px;
}
.nameTag {
  color: rgba(167, 167, 167, 0.925);
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
}
.overall {
  color: #ffd600;
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 300;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  /* padding: 5px;
  border: 0.1px solid white;
  border-radius: 50%; */
  margin-right: 10px;
  position: relative;
}
.overall::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: 50%;
  top: -10px;

  transform: translateX(-50%);
  transform: translateX(-50%);

  border: 0.2px solid rgba(255, 255, 255, 0.8);
}
.typesBox {
  display: flex;
  align-items: center;
  padding-top: 15px;
  position: absolute;
}
.typeText {
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.typeList {
  display: flex;
  z-index: 1000;
}
.typeTextmodifier {
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  padding: 5px;
  margin-left: 5px;

  

  /* border-radius: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(75, 75, 75, 0) 60%
  ); */
}
.legendary {
  position: absolute;
  right: 10px;
  top: 80px;

  color: white;
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.isLegendary {
  border: 2px solid rgba(255, 231, 16, 0.589);
  border-radius: 5px;
}

.overview {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.overviewTitleBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.overviewTitle {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 85px;

  display: inline-flex;
}
.statsText {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-top: 10px;
  padding-right: 10px;
}
.statsTextOvrl {
  font-weight: 200;
}

.abilities {
  padding-top: 10px;
}
.ability {
}
.ability:nth-child(n + 2) {
  margin-top: 5px;
}
.abilitiesText {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: black;
  padding: 5px;
  border-radius: 10px;
  text-align: center;

  background: rgb(255, 255, 255);
}

.checkDescription {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: default;
  display: inline;

  position: absolute;
  z-index: 1000;
  left: 0px;
  top: 80px;
}
.checkDescription:hover {
  cursor: pointer;
}
.checkDescription:hover + .description {
  right: 0;
}
.checkDescriptionText {
  display: inline;
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 200;
  font-size: 36px;
  line-height: 38px;
}
.description {
  position: absolute;
  bottom: 50%;
  right: -300%;

  background-color: rgba(0, 0, 0, 0.5);
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;

  transition: right 0.4s ease-in-out;
}
.descriptionText {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 5px;
}
