.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 15px 40px 15px;
}
.form-title {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 20px;
}
.form {
  max-width: 600px;
}
.form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input:focus {
  outline: none;
  border-color: #ffd600;
  box-shadow: 0 0 4px #ffd600;
}

.form-submit {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ffd600;
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  cursor: pointer;
}

.form-submit:hover {
  background-color: #bd9d00;
}
.info {
  margin-top: 20px;
}
.navLink {
  color: #ffd600;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
