.listBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.item {
  width: 330px;
}
.btnBox {
  margin: 15px 0;
}
.btn {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 10px;
  background-color: rgba(0, 0, 0, 0.589);

  transition: background-color 200ms ease-in-out;
}
.btn:hover {
  background-color: rgba(53, 53, 53, 0.589);
}

.btnScrollWrapper {
  position: fixed;
  bottom: 30px;
  left: 30px;
}
.btnMoveScrollBox {
  margin-top: 10px;
}
.notFound {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 80px;
}
