.battle {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.chosenPokemons {
  margin-right: 0px;
}
.chosenPokemonsAI {
  margin-left: 0px;
}
.arena {
  margin-top: 5px;
  margin-bottom: 0;
  min-width: 350px;
  width: 100%;

  height: 720px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.errorMessage {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: white;

  padding-top: 20px;
}
.moveBox {
  position: absolute;
  left: 10px;
  top: 10px;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 350px;
}
.item {
  width: calc(100% / 3);

  transition: transform 250ms ease;
}

.itemAI {
  width: calc(100% / 3);
}
.item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.pokeFrontBox {
  pointer-events: none;
}
.name {
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: white;
}
.menuGear {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.menu {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 35%;
  z-index: 100;

  transform: translateX(-50%);
  /* transform: translateY(-50%); */
  padding: 30px 10px;
  border: 0.2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.menuBackdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}
.menuTitle {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  color: white;
}
.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menuItem {
  padding-top: 20px;
}
.difficultyBox {
  padding: 0px 0;
  display: flex;
}
.menuText {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 22px;
  line-height: 22px;
  color: white;

  padding-right: 10px;
}
.menuRulesBox {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.3);
  right: 0;
  top: 0;
  transform: translateY(-300%);
  z-index: 90;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 250ms ease;
}
.menuRulesBoxOpen {
  transform: translateY(0%);
}
.rulesTitle {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: white;
  padding: 10px 0;
}
.rulesText {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding: 0 10px;
  padding-bottom: 10px;
}

.btn {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 7px 10px;
  background-color: rgba(255, 255, 255, 0.89);

  transition: background-color 200ms ease-in-out;
}
.btn:hover {
  background-color: rgba(199, 199, 199, 0.925);
}

.btn:nth-child(n + 2) {
  margin-left: 10px;
}
.menuCloseBtn {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 8px 10px;

  transition: background-color 200ms ease;

  position: absolute;
  right: 10px;
  top: 10px;
}
.menuCloseBtn:hover,
.menuCloseBtn:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
.pokemonArenaUser {
  position: absolute;
  bottom: 25%;
  left: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.defeated {
  pointer-events: none;
  filter: brightness(0.5) grayscale(100%);
}
.pokemonArenaComputer {
  position: absolute;
  top: 25%;
  right: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pokeArenaImage {
  width: 150px;
  animation: moveUpDown 2s infinite;
  transition: transform 2s ease;
}
.userAtacking {
  animation: attackAI 1500ms linear;
}
@keyframes attackAI {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, -80px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.computerAtacking {
  animation: attackUser 1500ms linear;
}
@keyframes attackUser {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100px, 80px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.healthBar {
  margin-top: 5px;

  border: 0.1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: left;
  background-color: rgba(47, 190, 3, 0.548);
}
.health {
  padding: 5px 0;
}
.healthText {
  text-align: left;
  padding-left: 5px;

  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
.userGui {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  border: 2px solid white;
  border-radius: 0 5px 0 0;
}
.guiPokemonName {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 5px;
}
.userBtn {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: black;
  cursor: pointer;
  border: none;

  padding: 5px 10px;
  /* margin-top: 10px; */
  border-radius: 1px;
  z-index: 1;

  transition: background-color 200ms ease;
}
.userBtn:nth-child(n + 2) {
  margin-left: 10px;
}
.userBtn:hover,
.userBtn:focus {
  background-color: rgb(180, 180, 180);
}
.userGuiPokemonStats {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 250px;
}
.statsText {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.computerGui {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px 0 0 0;
}
.gameFinished {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.gameFinishedModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  top: 15%;
  left: 50%;

  transform: translateX(-50%);

  background-color: black;
  border: 0.2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  padding: 40px 10px;

  width: 90%;
  max-width: 600px;
}
.gameFinishedTitle {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;

  padding-bottom: 20px;
}
.gameFinishedText {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.disabledBtn {
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  cursor: default;
}
.pokemonDefending {
  border: 5px solid rgba(214, 228, 16, 0.568);

  border-radius: 50%;
}
.pickedPokemonBar {
  position: relative;
}
.pickedPokemonBar:after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 0, 0.295);
  filter: blur(20px);
  left: 0;
  top: 0;
  transform: translateY(25%);

  border-radius: 50%;

  width: 100%;
  height: 60%;
  z-index: -1;
}
.lostPokemon {
  width: 350px;
}
.lostPokemonList {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 500px) {
  .arena {
    width: 500px;
    height: 720px;
  }
  .item {
    width: 200px;
  }
  .itemAI {
    width: 200px;
  }
  .list {
    width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .arena {
    width: 700px;
    height: 720px;
  }
  .list {
    width: 600px;
  }

  .gameFinishedModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 3%;
    left: 50%;

    transform: translateX(-50%);

    background-color: black;
    border: 0.2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;

    padding: 30px 60px;
  }
}

@media screen and (min-width: 1200px) {
  .battle {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .chosenPokemons {
    margin-right: 50px;
  }
  .chosenPokemonsAI {
    margin-left: 50px;
  }
  .arena {
    width: 800px;
    height: 600px;
  }

  .list {
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 150px;
  }
  .item {
    width: 150px;
  }
  .itemAI {
    width: 150px;
  }

  .name {
    font-style: normal;
    font-family: 'Pokemon Solid';
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: white;
  }

  .pokemonArenaUser {
    position: absolute;
    bottom: 25%;
    left: 15%;
  }

  .pokemonArenaComputer {
    position: absolute;
    top: 15%;
    right: 15%;
  }
  .pokeArenaImage {
    width: 170px;
  }

  @keyframes attackAI {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(300px, -40px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes attackUser {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-300px, 40px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .userGui {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    border: 2px solid white;
    border-radius: 0 5px 0 0;
  }
  .guiPokemonName {
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 5px;
  }
  .statsText {
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
  .userBtn {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
  .userBtn:nth-child(n + 2) {
    margin-left: 10px;
  }
  .userGuiPokemonStats {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 250px;
  }
  .computerGui {
    position: absolute;
    top: 480px;
    bottom: 0;
    right: 0;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px 0 0 0;
  }
}
