.container {
  display: flex;
  flex-direction: column;
}
.wrapper {
  padding-top: 120px;
  width: 100%;
  height: 100%;
  /* background-image: url(https://img.freepik.com/free-vector/comic-style-background-flat-design_52683-53321.jpg?w=1380&t=st=1683719904~exp=1683720504~hmac=751bf8259ca7b680e60956866c4b23f123e16e083224b2c74a636272eec3257e); */
  background-size: cover;

  position: relative;
}

.pokemonWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 100%;
  height: auto;
}
.imageBox {
  width: 700px;
}
.cardWrapper {
  max-width: 600px;
  min-width: 400px;
}

.descriptionBox {
  gap: 2px;
  width: 700px;
}
.descriptionText {
  display: inline;
  padding: 0 0;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
.listWrapper {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.listItem {
  width: 100%;
}
.listItem:nth-child(2) {
  margin-left: 20px;
}

.title {
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 300;
  font-size: 36px;
  line-height: 38px;
  text-align: center;
  color: #ffd600;

  padding-bottom: 80px;
}
.addBtn {
  margin-top: 50px;
  color: white;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  background-color: transparent;
  padding: 10px;

  cursor: pointer;
}
