.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.hotPokemon {
  display: flex;
  width: 30%;
  position: fixed;
  right: 0;
  margin-top: 80px;
  z-index: 1;
}
.hotPokemonTitle {
  position: absolute;
  left: 77%;
  transform: translateX(-50%);
  top: 30px;

  color: white;
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 500;
  font-size: 28px;
  width: 100%;
}
.pokeList {
  width: 70%;
}
.searchBar {
  margin-bottom: 20px;
  position: fixed;
  z-index: 1000;
  top: 60px;
}
.pokemonList {
  margin-top: 80px;
}
