.head {
  position: fixed;
  width: 100%;
  background-color: rgb(26, 32, 37);
  z-index: 10000;
  padding: 15px 0;

  border-bottom: 0.1px solid rgba(255, 255, 255, 0.05);
}
.headWrapper {
  display: flex;
  display: block;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 15px 100px;
}
.logo {
  color: #ffd600;
  /* color: white; */
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 300;
  font-size: 36px;
  line-height: 38px;
  position: absolute;
  left: 50%;
  bottom: 15px;

  transform: translateX(-50%);
}
/* .logoColor {
  color: rgb(0, 0, 0);
} */

.nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: right;
}
.linksBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  transition: color 250ms ease;
}
.link:hover {
  color: #ffd600;
}
.link:nth-child(n + 2) {
  padding-left: 15px;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.userBtn {
  margin-left: 10px;
  margin-top: 10px;
}
.footer {
  width: 100%;
  border-top: 0.1px solid rgba(255, 255, 255, 0.05);
  max-height: 70px;
  z-index: 1000;
}
.footerBox {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerDescription {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}
.loaderBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}
