.head {
  position: fixed;
  width: 100%;
  background-color: rgb(26, 32, 37);
  z-index: 1000;
  padding: 15px 0;
}
.headWrapper {
  display: flex;
  display: block;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 15px 100px;
}
.logo {
  color: #ffd600;
  /* color: white; */
  font-style: normal;
  font-family: 'Pokemon Solid';
  font-weight: 300;
  font-size: 36px;
  line-height: 38px;
  position: absolute;
  left: 50%;
  bottom: 15px;

  transform: translateX(-50%);
}
/* .logoColor {
  color: rgb(0, 0, 0);
} */

.nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: right;
}
.linksBar {
  display: flex;
  justify-content: space-between;
}
.link {
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
}
.link:nth-child(n + 2) {
  padding-left: 15px;
}
